@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Diagnostics
@using Syncfusion.Blazor.PdfViewer
@inject NavigationManager _navigationManager

<MudDrawer @bind-Open="@open" Elevation="1" Anchor="Anchor.Bottom" Variant="@DrawerVariant.Temporary">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6">Creat Room</MudText>
    </MudDrawerHeader>
    <MudDrawerContainer>
         <MudTextField T="string" Placeholder="Enter Room Name"></MudTextField>
            <MudButton Color="Color.Success"> Create Room</MudButton>
    </MudDrawerContainer>
   
</MudDrawer>
<MudCard>
    <MudCardContent>

        @if (hubConnection?.State == HubConnectionState.Connected)
        {
            <MudBadge Origin="Origin.TopRight" Dot="false" Color="Color.Success">
                <MudText Typo="Typo.h5">Collaborative Pdf Viewer</MudText>
            </MudBadge>
        }
        else
        {
            <MudBadge Origin="Origin.TopRight" Dot="false" Color="Color.Error">
                <MudText Typo="Typo.h5">Collaborative Pdf Viewer</MudText>
            </MudBadge>
        }
    </MudCardContent>
</MudCard>
<h5>@hubConnection?.State.ToString()</h5>
<MudItem xs="12" sm="12">
    <MudButton Variant="Variant.Filled"
               OnClick="OpenPdf"
               Color="Color.Success">
        Open Pdf
    </MudButton>
    <MudButton Variant="Variant.Filled"
               OnClick="NextPage"
               Color="Color.Secondary">
        Next
    </MudButton>
    <MudButton Variant="Variant.Filled"
               OnClick="PreviousPage"
               Color="Color.Warning">
        Previous
    </MudButton>
    <MudButton Variant="Variant.Filled"
               OnClick="OnZoomInClick"
               Color="Color.Surface">
        Zoom In
    </MudButton>
    <MudButton Variant="Variant.Filled"
               OnClick="OnZoomOutClick"
               Color="Color.Dark">
        Zoom Out
    </MudButton>
    
    <MudButton Variant="Variant.Filled"
                   OnClick="@(() => OpenDrawer())"
                   Color="Color.Info">
            Create Room
        </MudButton>
    
</MudItem>


<div style="display:inline-block">
    <h4>@currentPage of @pageNo</h4>
</div>
<br/>
<br/>
<br/>


<SfPdfViewerServer EnableToolbar="true"
                   EnableBookmarkPanel="false"
                   Width="1060px"
                   Height="900px"
                   DocumentPath="@DocumentPath"
                   @ref="@pdfViewer">
    <PdfViewerEvents OnTextSelectionEnd="selectionEnd"></PdfViewerEvents>
</SfPdfViewerServer>

@code {
    private HubConnection? hubConnection;
    SfPdfViewerServer pdfViewer;
    private string? DocumentPath { get; set; } //= "wwwroot/pdffiles/Enterprise-Application-Patterns-using-XamarinForms.pdf";
    string bookOne = "wwwroot/pdffiles/Enterprise-Application-Patterns-using-XamarinForms.pdf";
    string bookTwo = "wwwroot/pdffiles/AamirKhan_Resume_.pdf";
    int pageNo = 0;
    int currentPage = 0;

    protected override async Task OnInitializedAsync()
    {
    //Create Connection with SignalR
        hubConnection = new HubConnectionBuilder()
                .WithUrl(_navigationManager.ToAbsoluteUri("/collaborationHub"))
                .Build();

        hubConnection.On<string>("OnOpenPdf", (doc) =>
        {
            Debug.WriteLine("message" + doc);
            DocumentPath = doc;
            StateHasChanged();
        });

        hubConnection.On<string>("OnGoToNextPage", (user) =>
        {
            pdfViewer.GoToNextPage();
            StateHasChanged();
        });

        hubConnection.On<string>("OnGoToPreviousPage", (user) =>
        {
            pdfViewer.GoToPreviousPage();
            StateHasChanged();
        });
        hubConnection.On<string>("OnZoomIn", (user) =>
        {
            pdfViewer.ZoomIn();
            StateHasChanged();
        });
        hubConnection.On<string>("OnZoomOut", (user) =>
        {
            pdfViewer.ZoomOut();
            StateHasChanged();
        });


        await hubConnection.StartAsync();
    }
    bool open;
    
    void OpenDrawer()
    {
        open = true;
    }

    public void selectionEnd(TextSelectionEndEventArgs args)
    {
        var data = args;
        var bounds = args.TextBounds;
        var text = args.TextContent;
    }

    public bool IsConnected =>
            hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private void OnZoomOutClick()
    {
        pdfViewer.ZoomOut();
        if (hubConnection is not null)
        {
            hubConnection.SendAsync("ZoomOut", "zoomIn");
        }
    }

    private void OnZoomInClick()
    {
        pdfViewer.ZoomIn();
        if (hubConnection is not null)
        {
            hubConnection.SendAsync("ZoomIn", "zoomOut");
        }
    }

    private async void OpenPdf()
    {
        if (string.IsNullOrWhiteSpace(DocumentPath))
        {
            DocumentPath = bookOne;
            pageNo = pdfViewer.PageCount;
            if (hubConnection is not null)
            {
                await hubConnection.SendAsync("OpenPdf", _navigationManager.BaseUri + DocumentPath);
            }
        }
        else if (DocumentPath == bookOne)
        {
            DocumentPath = bookTwo;
            pageNo = pdfViewer.PageCount;
            if (hubConnection is not null)
            {
                await hubConnection.SendAsync("OpenPdf", DocumentPath);
            }
        }
        else if (DocumentPath == bookTwo)
        {
            DocumentPath = bookOne;
            currentPage = pdfViewer.CurrentPageNumber;
            pageNo = pdfViewer.PageCount;
            if (hubConnection is not null)
            {
                await hubConnection.SendAsync("OpenPdf", DocumentPath);
            }
        }
    }


    private async void NextPage()
    {
        await pdfViewer.GoToNextPageAsync();
        currentPage = pdfViewer.CurrentPageNumber;
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("GoToNextPage", "nextPage");
        }
    }

    private async void PreviousPage()
    {
        await pdfViewer.GoToPreviousPageAsync();
        currentPage = pdfViewer.CurrentPageNumber;
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("GoToPreviousPage", DocumentPath);
        }
    }

}